.review {padding-bottom: 5px;}
.panel-body.review-container {padding-top: 0;}
.review-header {margin-bottom: 10px;}
.reviewAuthor {margin: 0 5px;}
.reviewTimestamp {color: #ccc;}

.start-marker {
    background-image: url('./../images/start.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.cafe-marker {
    background-image: url('./../images/cafe-icon.svg');
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

/* carousel style */
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}